<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Exercise 6 Frontend Mentor</title>
</head>
<body>
    <section class="container">
        <div class="card">
            <img src="../assets/image/illustration-hero.svg" alt="image of ilustration" class="img__top">
            <div class="card__content">
                <div class="card__info">
                    <h2 class="title">Order Summary</h2>
                    <p class="paragraph">You can listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
                </div>
            </div>
            <div class="card__anual-planes">
                <img src="../assets/image/icon-music.svg" alt="image of music" class="image-music">
                <div class="card__prices">
                    <h3>Annual Plan</h3>
                    <p>$59.99/year</p>
                </div>
                <a href="#" class="change">Change</a>
            </div>
            <div class="buttons">
                <a href="#" class="order">Proceed to Payment</a>
                <a href="#" class="cancel">Cancel Order</a>
            </div>
        </div>
    </section>
</body>
</html>