*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../assets/image/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.card{
    background-color: #fff;
}
.card .img__top{
    width: 100%;
    height: 200px;
}
.card__info{
    padding: 1.3rem 1rem;
}
.title{
    font-weight: 400;
    font-size: 1.7rem;
    color: rgb(96, 170, 255);
}
.paragraph{
    color: #333;
    line-height: 1.4;
    padding: 0 2rem;
    font-size: 1em;
}
.card__anual-planes{
    margin: 0 2rem;
    background-color: rgb(231, 229, 229);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__anual-planes img{
    margin-left: 25px;
}
.change{
    margin-right: 15px;
}
.order,
.cancel{
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
}
.order{
    padding: .7em 1rem;
    width: 80%;
    background-color: rgb(79, 79, 255);
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color, 400ms ease;
}
.order:active{
    background-color: rgb(28, 28, 255);
}
.cancel{
    color: black;
    padding-bottom: 2rem;
}
.cancel:active{
    text-decoration: none;
}