*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../assets/image/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}